html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Avenir Next';
  src: local("Avenir Next"), local("Avenir-Next-Regular"), url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: local("Avenir Next"), local("Avenir-Next-Medium"), url("../fonts/AvenirNextCyr-Medium.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Medium.woff") format("woff"), url("../fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: local("Avenir Next Demi"), local("Avenir-Next-Demi"), url("../fonts/AvenirNextCyr-Demi.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff"), url("../fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Avenir Next';
  src: local("Avenir Next"), local("Avenir-Next-Bold"), url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff"), url("../fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

html, body {
  overflow-x: hidden;
  font: 15px/ 1.7 'Avenir Next';
  color: #9C98C0;
  background-color: #090919; }

body {
  overflow: hidden; }

* {
  box-sizing: border-box; }
  *:focus {
    outline: none; }

img {
  max-width: 100%; }

input:focus, button:focus, textarea:focus, a:focus {
  outline: none; }

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 576px) {
  .container {
    max-width: 540px; } }

@media (min-width: 768px) {
  .container {
    max-width: 720px; } }

@media (min-width: 992px) {
  .container {
    max-width: 960px; } }

@media (min-width: 1230px) {
  .container {
    max-width: 1230px; } }

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-left: -15px;
  margin-right: -15px; }

.col {
  padding: 0 15px; }

.icon {
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center; }
  .icon_share {
    width: 38px;
    height: 38px;
    background-image: url("../img/share-icon.svg"); }

#overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  z-index: 999;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.popup {
  max-width: 500px;
  width: calc(100% - 20px);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  opacity: 0;
  z-index: 10000;
  box-shadow: 0 20px 60px -2px rgba(27, 33, 58, 0.4);
  background: #fff;
  padding: 50px 20px 30px;
  text-align: center;
  max-height: 100vh;
  overflow-y: auto; }
  .popup__close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 20px;
    height: 20px;
    background: none;
    border: 0;
    cursor: pointer; }
  .popup__title {
    font-weight: 600;
    margin-bottom: 15px; }

.btn {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 53px;
  background: #4949DC;
  border-radius: 4px;
  padding: 0 35px;
  text-decoration: none;
  font-size: 17px; }
  .btn_header {
    font-size: 15px;
    height: 38px;
    padding: 0 20px; }
  .btn .decor {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #fff;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transform: translate(-50%, -50%); }
  .btn span:first-of-type {
    position: relative;
    z-index: 2; }
  .btn:hover {
    color: #090919; }
    .btn:hover .decor {
      width: 225%;
      height: 562.5px; }
  .btn:active {
    background-color: #fff;
    color: #090919; }

.text {
  font-size: 18px; }
  .text_white {
    color: #fff; }
  .text_blue {
    color: #57BBF8; }
  .text_center {
    text-align: center; }
  .text_middle {
    font-weight: 500; }
  .text_semibold {
    font-weight: 600; }
  .text_bold {
    font-weight: 700; }
  .text_uppercase {
    text-transform: uppercase; }

.title {
  font-size: 33px;
  line-height: 1.3; }

.subtitle {
  font-size: 20px; }
  .subtitle_big {
    font-size: 25px; }
  .subtitle_color {
    letter-spacing: 0.03em;
    opacity: 0.7; }

#mfcf7_zl_add_file {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 54px;
  border: 1px dashed #424260;
  border-radius: 4px;
  font-weight: 500;
  background-color: transparent;
  color: rgba(156, 152, 192, 0.6);
  opacity: 0.6;
  cursor: pointer;
  margin-bottom: 20px;
  font-size: 0; }
  #mfcf7_zl_add_file::before {
    content: '';
    display: block;
    width: 23px;
    height: 23px;
    margin-right: 13px;
    background: url("../img/upload.svg") no-repeat center;
    background-size: contain; }

div#mfcf7_zl_multifilecontainer {
  margin-top: 0 !important; }

div#mfcf7_zl_multifilecontainer p {
  background-color: #fff;
  padding: 10px;
  color: #000;
  border-radius: 4px; }

.wpcf7 form .wpcf7-response-output {
  margin: 0 !important; }

.wpcf7-not-valid-tip {
  position: absolute;
  bottom: -21px; }

.wpcf7-form-control-wrap {
  width: 100%;
  display: block; }

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%; }
  .header__wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 95px;
    padding: 0 42px 0 54px;
    background-color: #090919; }
  .header__menu {
    display: flex;
    align-items: center; }
    .header__menu > li:not(:last-of-type) {
      margin-right: 35px; }
    .header__menu > li a {
      color: #fff;
      text-decoration: none;
      position: relative; }
      .header__menu > li a::after {
        content: '';
        display: block;
        width: 0;
        height: 1px;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: -1px;
        transition: .4s; }
      .header__menu > li a:hover::after {
        width: 100%; }
  .header__logo {
    position: absolute;
    max-width: 117px;
    left: 50%;
    top: calc(50% + 11px);
    transform: translate(-50%, -50%); }
    .header__logo img {
      width: 100%; }
  .header__toggle {
    display: none;
    width: 24px;
    height: 16px;
    position: relative;
    border: none;
    background: transparent; }
    .header__toggle span {
      position: absolute;
      width: 100%;
      left: 0;
      height: 2px;
      background-color: #57BBF8;
      transition: transform .2s ease-in, opacity .2s ease-in-out;
      top: 0; }
      .header__toggle span:nth-of-type(2) {
        top: 50%;
        transform: translateY(-50%); }
      .header__toggle span:nth-of-type(3) {
        bottom: 0;
        top: unset; }
    .header__toggle.active span:nth-of-type(1) {
      top: 50%;
      transform: translateY(-50%) rotate(45deg); }
    .header__toggle.active span:nth-of-type(2) {
      opacity: 0; }
    .header__toggle.active span:nth-of-type(3) {
      top: 50%;
      transform: translateY(-50%) rotate(-45deg); }
  .header__mob {
    width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    overflow-y: auto;
    z-index: 4;
    margin-right: -100%;
    transition: margin-right .25s ease-in-out;
    background-color: #090919;
    padding-top: 130px;
    padding-bottom: 40px; }
    .header__mob.active {
      margin-right: 0; }
    .header__mob .btn_header {
      max-width: 200px;
      margin: 0 auto; }

.footer {
  padding: 44px 0; }
  .footer__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px; }
    .footer__wrap > li:not(:last-of-type) {
      margin-right: 60px; }
  .footer__right {
    display: flex;
    align-items: center; }
  .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .footer__link {
    color: #9C98C0;
    opacity: 0.5;
    text-decoration: none;
    transition: .3s; }
    .footer__link:hover {
      opacity: 1; }

.social {
  display: flex;
  align-items: center; }
  .social > li:not(:last-of-type) {
    margin-right: 30px; }
  .social__item {
    display: block;
    width: 25px;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .8;
    transition: .35s; }
    .social__item:hover {
      opacity: 1;
      transform: scale(1.15); }

.welcome {
  padding: 294px 0 215px;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d; }
  .welcome .container {
    position: relative;
    z-index: 2; }
  .welcome__after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
  .welcome__title {
    font-size: 52px;
    line-height: 120%;
    margin-bottom: 31px; }
  .welcome__label {
    margin-bottom: 28px; }
  .welcome__description {
    margin-bottom: 46px; }
  .welcome__button {
    width: max-content;
    margin: 0 auto; }
  .welcome__decor {
    position: absolute;
    transform: translate(-50%, -50%) translateZ(-1px);
    width: 1656px;
    height: 814px;
    left: calc(50% + 68px);
    top: calc(50% - 18px); }
  .welcome__item {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
    .welcome__item_1 {
      width: 451px;
      height: 696px;
      left: 0;
      top: 69px;
      background-image: url("../img/decor-1.svg"); }
    .welcome__item_2 {
      width: 255px;
      height: 146px;
      left: 16px;
      top: 137px;
      background-image: url("../img/decor-2.svg"); }
    .welcome__item_3 {
      width: 287px;
      height: 262px;
      left: 272px;
      bottom: -2px;
      background-image: url("../img/decor-3.svg"); }
    .welcome__item_4 {
      width: 136px;
      height: 189px;
      left: 480px;
      bottom: -38px;
      background-image: url("../img/decor-4.svg"); }
    .welcome__item_6 {
      width: 203px;
      height: 104px;
      right: 352px;
      top: 108px;
      background-image: url("../img/decor-5.svg"); }
    .welcome__item_5 {
      width: 628px;
      height: 628px;
      right: -16px;
      top: 95px;
      background-image: url("../img/decor-6.svg"); }
    .welcome__item_7 {
      width: 326px;
      height: 303px;
      right: 339px;
      bottom: 63px;
      background-image: url("../img/decor-7.svg"); }

.about {
  padding: 200px 0 73px; }
  .about__col_1 {
    width: calc(100% - 576px); }
  .about__col_2 {
    width: 576px; }
  .about__label {
    letter-spacing: 0.1em;
    margin-bottom: 17px; }
  .about__title {
    margin-bottom: 44px; }
  .about__description {
    max-width: 475px; }
    .about__description p:not(:last-of-type) {
      margin-bottom: 35px; }
  .about__photo_mob {
    display: none; }
  .about__photo img {
    max-width: 420px;
    position: relative;
    top: 8px;
    left: calc(50% - 25px);
    transform: translateX(-50%); }

.features {
  padding: 67px 0 34px; }
  .features__title {
    letter-spacing: 0.03em;
    opacity: 0.7;
    margin-bottom: 53px; }
  .features__col {
    width: 33.333%;
    margin-bottom: 30px; }
  .features__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    min-height: 308px;
    border: 1px solid #5F5F79;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    padding: 0 20px 20px; }
    .features__item .decor {
      position: absolute;
      display: block;
      width: 0;
      height: 0;
      border-radius: 50%;
      background-color: #fff;
      transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
      transform: translate(-50%, -50%); }
    .features__item:hover .decor {
      width: 325%;
      height: 962.5px; }
    .features__item:hover .features__description,
    .features__item:hover .features__name {
      color: #090919; }
    .features__item:active {
      background-color: #fff; }
  .features__description {
    position: relative;
    z-index: 2;
    transition: .3s; }
  .features__icon {
    position: absolute;
    left: 50%;
    top: calc(50% + 12px);
    transform: translate(-50%, -50%);
    z-index: 2; }
    .features__icon-wrap {
      position: relative;
      height: 130px;
      width: 100%; }
  .features__name {
    margin-bottom: 7px;
    position: relative;
    z-index: 2;
    transition: .3s; }
    .features__name span {
      font-weight: 600; }

.stages {
  padding: 58px 0 50px; }
  .stages__title {
    margin-bottom: 79px; }
  .stages__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    margin-left: auto;
    margin-right: auto; }
    .stages__item:nth-of-type(2n) {
      flex-direction: row-reverse; }
    .stages__item_1 {
      max-width: 1044px;
      left: 10px;
      margin-bottom: 63px; }
    .stages__item_2 {
      max-width: 1061px;
      left: 10px;
      margin-bottom: 42px; }
    .stages__item_3 {
      max-width: 1116px;
      margin-left: 15px; }
  .stages__info {
    width: 475px;
    flex-shrink: 0; }
  .stages__photo {
    position: relative; }
    .stages__photo_1 {
      top: 13px; }
    .stages__photo_2 {
      top: 33px; }
    .stages__photo_3 {
      top: 16px; }
    .stages__photo_mob {
      display: none; }
    .stages__photo img {
      max-width: 100%; }

.portfolio {
  padding: 54px 0 40px; }
  .portfolio__title {
    margin-bottom: 81px; }
  .portfolio__list {
    justify-content: space-between; }
  .portfolio__col {
    max-width: 575px;
    width: 50%;
    margin-bottom: 81px; }
  .portfolio__item {
    display: block;
    width: 100%;
    cursor: pointer; }
    .portfolio__item:hover .portfolio__description {
      opacity: 0.5; }
    .portfolio__item:hover .portfolio__photo img {
      transform: scale(1.05); }
    .portfolio__item:hover .portfolio__share {
      opacity: 1; }
  .portfolio__photo {
    display: block;
    width: 100%;
    height: 0;
    position: relative;
    padding-top: 59.8%;
    margin-bottom: 20px;
    overflow: hidden; }
    .portfolio__photo img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: .5s; }
  .portfolio__header {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6px; }
  .portfolio__left {
    width: calc(100% - 38px);
    padding-right: 15px; }
  .portfolio__share {
    display: block;
    width: 38px;
    height: 38px;
    position: relative;
    top: -3px;
    opacity: .4;
    transition: opacity .3s; }
    .portfolio__share:hover {
      opacity: 1; }
  .portfolio__name {
    line-height: 1.3;
    text-decoration: none;
    margin-right: 9px; }
  .portfolio__description {
    font-size: 14px;
    min-height: 23px;
    opacity: 0;
    transition: .5s; }
    @media screen and (max-width: 991px) {
      .portfolio__description {
        opacity: 0.5; } }

.price {
  padding: 35px 0 112px; }
  .price__title {
    margin-bottom: 59px; }
  .price__description {
    max-width: 795px;
    width: 100%;
    margin: 0 auto 95px; }
  .price__label {
    letter-spacing: 0.1em;
    opacity: 0.4;
    margin-bottom: 28px; }
    .price__label_mb {
      margin-bottom: -13px; }
  .price__complexity {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 55px; }
    .price__complexity > li:not(:last-of-type) {
      margin-right: 32px; }
    .price__complexity-item {
      display: flex;
      align-items: center;
      cursor: pointer; }
      .price__complexity-item input {
        display: none; }
        .price__complexity-item input:checked + .circle::before {
          opacity: 1; }
      .price__complexity-item .circle {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        position: relative;
        background: rgba(66, 66, 96, 0.15);
        border: 1px solid #424260;
        margin-right: 9px; }
        .price__complexity-item .circle::before {
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 50%;
          width: 20px;
          height: 20px;
          border-radius: 50%;
          background-color: #57BBF8;
          transform: translate(-50%, -50%);
          opacity: 0;
          transition: opacity .3s; }
  .price__slider {
    margin-top: 45px;
    font-size: 18px;
    background: transparent;
    box-shadow: none;
    border: none; }
    .price__slider .noUi-marker-large,
    .price__slider .noUi-marker-normal {
      display: none; }
    .price__slider .noUi-tooltip {
      display: none; }
    .price__slider .noUi-connect {
      background-color: #57BBF8; }
    .price__slider .noUi-handle {
      box-shadow: none;
      border: none;
      height: 34px;
      border-radius: 50%;
      background-color: #57BBF8;
      cursor: pointer;
      top: -14px; }
      .price__slider .noUi-handle::after, .price__slider .noUi-handle::before {
        display: none; }
    .price__slider .noUi-pips-horizontal {
      top: calc(100% - 14px); }
    .price__slider .noUi-value {
      color: #9C98C0; }
    .price__slider .noUi-base {
      top: 50%;
      transform: translateY(-50%);
      height: 5px;
      border-radius: 3px;
      background-color: #656281; }
  .price__pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: relative; }
    .price__pages-wrap {
      position: relative;
      max-width: 493px;
      width: 100%;
      padding: 0 10px;
      margin: 0 auto 70px; }
    .price__pages > li {
      display: block;
      width: 9px;
      height: 9px;
      background: #656281;
      position: relative;
      border-radius: 5px;
      cursor: pointer; }
      .price__pages > li label {
        display: block;
        width: 9px;
        height: 9px; }
      .price__pages > li input {
        display: none; }
      .price__pages > li .circle {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 9px;
        height: 9px;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
        z-index: 7;
        cursor: pointer; }
      .price__pages > li .number {
        display: block;
        width: 21px;
        position: absolute;
        left: 50%;
        bottom: -11px;
        text-align: center;
        transform: translate(-50%, 100%);
        font-size: 18px;
        cursor: pointer;
        z-index: 7; }
      .price__pages > li.active .circle {
        background-color: #57BBF8; }
  .price__block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 90px;
    background: rgba(66, 66, 96, 0.15);
    border: 1px solid #424260;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 11px;
    margin: 0 auto 67px; }
    .price__block span {
      margin: 0 6px;
      position: relative;
      top: -5.5px; }
  .price__button {
    font-weight: 500;
    font-size: 16px;
    max-width: 264px;
    margin: 0 auto; }

.testimonials {
  padding: 91px 0 75px; }
  .testimonials__title {
    margin-bottom: 75px; }
  .testimonials__slider {
    transition: .5s; }
    .testimonials__slider.active {
      transform: scale(0.95); }
  .testimonials__col {
    width: 50%; }
  .testimonials__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 286px;
    border: 1px solid #5F5F79;
    border-radius: 6px;
    padding: 45px 44px 44px 46px; }
  .testimonials__description {
    display: flex;
    align-items: center;
    min-height: 90px;
    margin-bottom: 20px;
    padding-left: 2px; }
  .testimonials__block {
    display: flex;
    align-items: center; }
  .testimonials__photo {
    position: relative;
    flex-shrink: 0;
    margin-right: 22px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    overflow: hidden; }
    .testimonials__photo img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover; }
  .testimonials__info {
    width: 100%;
    flex-shrink: 1; }
  .testimonials__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px; }
  .testimonials__wrap {
    display: flex;
    align-items: center; }
  .testimonials__pagination {
    position: relative;
    top: -17px; }
    .testimonials__pagination .swiper-pagination-bullet {
      width: 7px;
      height: 7px;
      background: #5F5F79;
      opacity: .5;
      transition: .3s; }
      .testimonials__pagination .swiper-pagination-bullet:not(:last-of-type) {
        margin-right: 13px; }
    .testimonials__pagination .swiper-pagination-bullet-active {
      opacity: 1; }
  .testimonials__arrow {
    display: block;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: relative;
    cursor: pointer; }
    .testimonials__arrow svg {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateZ(-1px);
      transition: .3s; }
      .testimonials__arrow svg > * {
        transition: .3s; }
    .testimonials__arrow_prev {
      margin-right: 13px; }
      .testimonials__arrow_prev svg {
        transform: rotate(180deg) translateZ(-1px); }
    .testimonials__arrow:hover svg g {
      opacity: 1; }
    .testimonials__arrow:hover svg path {
      stroke: #fff; }

.faq {
  padding: 115px 0 90px; }
  .faq__title {
    margin-bottom: 57px; }
  .faq__item.active .faq__header::before {
    transform: rotate(90deg); }
  .faq__header {
    position: relative;
    padding-left: 6px;
    line-height: 130%;
    padding-right: 70px;
    margin-bottom: 38px;
    cursor: pointer;
    transform-style: preserve-3d; }
    .faq__header::after {
      content: '';
      display: block;
      width: 37px;
      height: 1px;
      background-color: #57BBF8;
      position: absolute;
      right: 0;
      top: 19px; }
    .faq__header::before {
      content: '';
      display: block;
      height: 37px;
      width: 1px;
      background-color: #57BBF8;
      position: absolute;
      right: calc(calc(37px / 2) - .5px);
      top: 0;
      transition: .3s; }
  .faq__list > li {
    border-bottom: 1px solid #5F5F79; }
    .faq__list > li:not(:last-of-type) {
      margin-bottom: 37px; }
  .faq__body {
    display: none;
    padding-left: 6px;
    max-width: 980px;
    padding-bottom: 37px; }

.contacts {
  padding: 97px 0 137px; }
  .contacts__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 55px 0 8px; }
  .contacts__photo img {
    display: block;
    max-width: 531px;
    width: 100%; }
  .contacts__info {
    width: 100%;
    max-width: 491px;
    padding-top: 8px; }
  .contacts__description {
    max-width: 100%;
    margin-bottom: 44px; }
  .contacts__title {
    margin-bottom: 18px; }
  .contacts__form {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: -7.5px;
    margin-right: -7.5px; }
  .contacts__col {
    width: 50%;
    padding: 0 7.5px;
    margin-bottom: 21px; }
    .contacts__colx2 {
      width: 100%; }
  .contacts__input {
    display: flex;
    align-items: center;
    height: 54px;
    width: 100%;
    background: rgba(66, 66, 96, 0.15);
    border: 1px solid #424260;
    border-radius: 4px;
    padding: 0 22px;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    font-family: 'Avenir Next';
    transition: .4s; }
    .contacts__input::placeholder {
      color: rgba(156, 152, 192, 0.6); }
    .contacts__input:placeholder-shown {
      color: rgba(156, 152, 192, 0.6); }
    .contacts__input::-moz-placeholder {
      color: rgba(156, 152, 192, 0.6); }
    .contacts__input::-webkit-input-placeholder {
      color: rgba(156, 152, 192, 0.6); }
    .contacts__input:hover, .contacts__input:focus {
      border-color: #669; }
  .contacts__button {
    width: 100%;
    font-family: 'Avenir Next';
    border: none;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer; }
  .contacts__upload {
    position: relative; }
    .contacts__upload input {
      z-index: 3; }
  .contacts__after {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 54px;
    width: 100%;
    border-radius: 4px;
    padding: 0 22px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(156, 152, 192, 0.6);
    font-family: 'Avenir Next'; }
    .contacts__after i {
      display: block;
      width: 23px;
      height: 23px;
      margin-right: 13px;
      background: url("../img/upload.svg") no-repeat center;
      background-size: contain; }

.error {
  padding: 92px 0 75px; }
  .error__photo {
    max-width: 528px;
    width: 100%;
    margin: 0 auto -44px; }
    .error__photo img {
      width: 100%; }
  .error__title {
    margin-bottom: 34px; }
  .error__description {
    margin-bottom: 46px; }
  .error__button {
    position: relative;
    overflow: hidden;
    width: 162px;
    height: 53px;
    color: #9C98C0;
    border: 1px solid #9C98C0;
    border-radius: 70px;
    background: transparent;
    margin: 0 auto;
    transition: .4s; }
    .error__button:hover {
      background-color: #9C98C0;
      color: #fff; }

.post {
  padding: 165px 0 50px; }
  .post__title {
    margin-bottom: 52px; }
  .post__description {
    max-width: 800px;
    width: 100%;
    margin: 0 auto; }
    .post__description a {
      font-weight: 600;
      text-decoration: underline; }
    .post__description h2 {
      font-size: 24px; }
    .post__description h3 {
      margin-bottom: 20px; }
    .post__description ul,
    .post__description ol {
      list-style: circle;
      padding-left: 17px; }
    .post__description p {
      margin-bottom: 33px; }

@media screen and (max-width: 1229px) {
  .subtitle {
    font-size: 19px; }
    .subtitle_big {
      font-size: 22px; }
  .text {
    font-size: 17px; }
  .title {
    font-size: 30px; }
  .header__wrap {
    height: 88px;
    padding: 0 20px 0 20px; }
  .post {
    padding-top: 134px; }
    .post__title {
      margin-bottom: 44px; }
  .welcome {
    padding: 267px 0 200px; }
    .welcome__decor {
      transform: translate(-50%, -50%) translateZ(-1px) scale(0.88); }
    .welcome__title {
      font-size: 45px; }
  .about {
    padding-top: 187px; }
    .about__title {
      margin-bottom: 36px; }
    .about__photo img {
      max-width: 350px; }
    .about__col_1 {
      width: calc(100% - 440px); }
    .about__col_2 {
      width: 440px; }
  .features__col {
    width: 50%; }
  .features__item {
    min-height: 286px; }
  .stages__photo {
    max-width: 410px; }
  .stages__info {
    width: 460px; }
  .portfolio__title {
    margin-bottom: 70px; }
  .portfolio__col {
    margin-bottom: 71px; }
  .price {
    padding-bottom: 82px; }
    .price__title {
      margin-bottom: 53px; }
    .price__description {
      max-width: 740px; }
  .testimonials {
    padding: 66px 0 71px; }
    .testimonials__title {
      margin-bottom: 62px; }
  .faq {
    padding: 71px 0 66px; }
    .faq__header {
      padding-right: 50px; }
  .contacts {
    padding: 71px 0 95px; }
    .contacts__info {
      max-width: 420px; }
    .contacts__photo {
      max-width: 420px; } }

@media screen and (max-width: 1150px) {
  .header__menu {
    display: none; }
  .header__toggle {
    display: block; }
  .header__mob .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px; }
    .header__mob .header__menu > li:not(:last-of-type) {
      margin-right: 0;
      margin-bottom: 20px; }
    .header__mob .header__menu > li a {
      font-size: 18px; } }

@media screen and (max-width: 1050px) {
  .welcome__decor {
    transform: translate(-50%, -50%) translateZ(-1px) scale(0.81); } }

@media screen and (max-width: 991px) {
  .subtitle {
    font-size: 18px; }
    .subtitle_big {
      font-size: 21px; }
  .text {
    font-size: 16px; }
  .title {
    font-size: 28px; }
  .btn {
    font-size: 16px; }
  .post {
    padding-top: 105px; }
    .post__title {
      margin-bottom: 35px; }
  .welcome {
    padding: 197px 0 156px; }
    .welcome__decor {
      transform: translate(-50%, -50%) translateZ(-1px) scale(0.7); }
    .welcome__label {
      margin-bottom: 24px; }
    .welcome__title {
      font-size: 42px; }
    .welcome__description {
      margin-bottom: 36px; }
  .about__wrap {
    flex-direction: column-reverse;
    align-items: center; }
  .about__description {
    max-width: 100%; }
    .about__description p:not(:last-of-type) {
      margin-bottom: 25px; }
  .about__col_2 {
    width: 100%; }
  .about__col_1 {
    display: none;
    max-width: 370px;
    width: 100%; }
  .about__photo_mob {
    display: block;
    max-width: 400px;
    margin: 0 auto 30px; }
    .about__photo_mob img {
      top: 0;
      left: 0;
      transform: unset; }
  .about__title, .about__description, .about__label {
    text-align: center; }
  .about__title {
    margin-bottom: 14px; }
  .testimonials__item {
    min-height: auto; }
  .stages__item {
    flex-direction: column-reverse;
    align-items: center; }
    .stages__item:nth-of-type(2n) {
      flex-direction: column-reverse; }
    .stages__item_1, .stages__item_2 {
      margin-bottom: 45px; }
  .stages__info {
    width: 100%;
    margin-bottom: 20px; }
  .stages__photo {
    top: 0;
    max-width: 370px;
    width: 100%;
    display: none; }
    .stages__photo_mob {
      display: block;
      max-width: 360px;
      width: 100%;
      margin: 0 auto; }
  .portfolio__title {
    margin-bottom: 56px; }
  .portfolio__share {
    width: 34px;
    height: 34px;
    top: 0; }
  .price__block {
    height: 85px; }
  .price__description {
    margin-bottom: 75px; }
  .faq__header {
    margin-bottom: 27px; }
    .faq__header::before {
      height: 27px; }
    .faq__header::after {
      width: 27px;
      right: 5px;
      top: 13px; }
  .faq__body {
    padding-bottom: 25px; }
  .contacts {
    padding: 57px 0 74px; }
    .contacts__photo {
      display: none; }
    .contacts__wrap {
      justify-content: center;
      padding: 0; }
    .contacts__info {
      padding-top: 0;
      width: 100%;
      max-width: 480px; }
  .footer {
    padding: 30px 0; }
    .footer__wrap > li:not(:last-of-type) {
      margin-right: 46px; }
  .error {
    padding: 69px 0 50px; }
    .error__photo {
      max-width: 403px; }
  .footer__row {
    flex-direction: column-reverse;
    align-items: center; }
  .footer__right {
    width: 100%;
    justify-content: space-between; } }

@media screen and (max-width: 767px) {
  .wow {
    visibility: visible !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important; }
  .subtitle {
    font-size: 16px; }
    .subtitle_big {
      font-size: 20px; }
  .text {
    font-size: 15px; }
  .btn {
    font-size: 15px;
    padding: 0 25px;
    height: 50px; }
  .title {
    font-size: 25px; }
    .title br {
      display: none; }
  .header__wrap {
    height: 72px;
    padding: 0 15px;
    justify-content: flex-end; }
    .header__wrap .btn_header {
      display: none; }
  .welcome {
    padding: 364px 0 61px;
    position: relative;
    transform-style: preserve-3d; }
    .welcome::after {
      content: '';
      display: block;
      width: 455px;
      height: 252px;
      position: absolute;
      left: calc(50% + 25px);
      top: 88px;
      transform: translateX(-50%) translateZ(-1px);
      background: url("../img/decor-mob.svg") no-repeat center;
      background-size: contain; }
    .welcome__title {
      font-size: 37px;
      margin-bottom: 25px; } }
    @media screen and (max-width: 767px) and (max-width: 360px) {
      .welcome__title {
        font-size: 32px; } }

@media screen and (max-width: 767px) {
    .welcome__label {
      margin-bottom: 24px;
      font-size: 14px; }
    .welcome__decor {
      display: none; }
  .about {
    position: relative;
    padding: 70px 0 50px; }
    .about__title {
      margin-bottom: 34px; }
    .about__label {
      font-size: 14px; }
    .about__description p:not(:last-of-type) {
      margin-bottom: 23px; }
    .about__photo {
      padding: 0 30px; }
      .about__photo img {
        display: block;
        width: 100%;
        top: 0;
        left: 0;
        transform: unset; }
  .features {
    padding: 42px 0 14px; }
    .features__col {
      width: 100%; }
    .features__item {
      min-height: auto;
      padding-bottom: 35px; }
    .features__icon {
      max-width: 60px; }
      .features__icon-wrap {
        height: 100px; }
  .stages {
    padding: 40px 0 20px; }
    .stages .about__title {
      margin-bottom: 14px; }
    .stages__title {
      margin-bottom: 55px; }
    .stages__item {
      left: 0;
      margin-left: 0; }
      .stages__item_1, .stages__item_2 {
        margin-bottom: 60px; }
  .portfolio {
    padding: 35px 0 55px; }
    .portfolio__col {
      width: 100%;
      margin-bottom: 51px; }
      .portfolio__col:last-of-type {
        margin-bottom: 0; }
  .price {
    padding-bottom: 35px; }
    .price__title {
      margin-bottom: 42px; }
    .price__complexity {
      margin-bottom: 47px; }
      .price__complexity > li:not(:last-of-type) {
        margin-right: 21px; }
      .price__complexity-item .circle {
        width: 32px;
        height: 32px;
        margin-right: 7px; }
        .price__complexity-item .circle::before {
          width: 16px;
          height: 16px; }
    .price__block {
      height: 75px;
      margin-bottom: 39px; }
  .testimonials {
    padding-bottom: 35px 0; }
    .testimonials__title {
      margin-bottom: 34px; }
    .testimonials__item {
      padding: 24px 19px 30px 30px; }
  .faq {
    padding: 35px 0; }
    .faq__title {
      margin-bottom: 44px; }
  .contacts {
    padding: 35px 0 40px; }
    .contacts__description {
      max-width: 300px;
      margin: 0 auto 40px; }
    .contacts__col {
      width: 100%; }
      .contacts__col:last-of-type {
        margin-top: -20px; }
  .footer {
    padding: 20px 0; }
    .footer__wrap {
      flex-wrap: wrap;
      text-align: center; }
      .footer__wrap > li {
        width: 50%;
        order: 0;
        margin-top: 10px; }
        .footer__wrap > li:first-of-type {
          width: 100%;
          order: 1; }
        .footer__wrap > li:not(:last-of-type) {
          margin-right: 0; }
    .footer__right {
      flex-direction: column;
      align-items: center; }
    .footer__wrap {
      margin-right: 0;
      width: 100%; }
  .social {
    margin: 25px 0; }
  .error__photo {
    max-width: 286px;
    margin-bottom: -13px; }
  .error__description {
    margin-bottom: 32px; } }
